.product-cards {
  margin-top: 20px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: 150px;

}

.cards {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: 250px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.cards img {
  width: 55%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.cards h3 {
  font-size: 18px;
  margin: 10px 0;
}

.description {
  font-size: 14px;
  color: #666;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cards span {
  font-size: 16px;
  font-weight: bold;
}

.cart-button,
button {
  margin-left: 20px;
  background-color: rgb(180, 4, 63);
  outline: none;
  border: none;
  border-radius: 0.2rem;
  padding: 4px 4px;
  font-weight: bold;
  cursor: pointer;
  color: white;


}



.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  box-shadow: rgba(50, 50, 93, 0.23) 0 30px 30px -20px;
  background-color: rgb(180, 4, 63);
}

.text {
  font-size: 30px;
  margin-left: 50px;
  font-style: italic;
  color: white;

}


.container {
  max-width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}



.container h1 {

  color: white;
  margin-right: 5px;
  cursor: pointer;

}

.btn1 h1 {
  color: white;
  margin-right: 0px;
  cursor: pointer;
  text-align: center;
}

.btn2 h1 {
  color: white;
  margin-right: 140px;
  cursor: pointer;

}

@media(max-width:768px) {
  .product-cards {
    justify-content: center;
  }

  .cards {
    width: 100%;
  }
}